<h1 class="sub_title">All Articles</h1>
<ul class="articles">
	<% @articles_by_month.sort.reverse.each do |monthname, article| %>
	<li><h2 class="monthname"><%= monthname.strftime("%B %Y") %></h2></li>

	 	<% article.each do |article| %>
			<li><p><%= link_to article.title, article_path(article) %></p></li>
	 	<% end %>

	<% end %>
	
</ul>



<div class="pop_article_wrapper">
	<h2 class="sub_title">Popular Articles</h1>
	<ul class="popular_articles">
	
		<% @top_articles.each do |article| %>
		
			<li><%= link_to article.title, article_path(article) %></li>
			
		<% end %>
	</ul> 
</div>
<div class="pop_article_wrapper">
	<h2 class="sub_title">Unpopular Articles</h1>
	<ul class="popular_articles">
	
		<% @bottom_articles.each do |article| %>
		
			<li><%= link_to article.title, article_path(article) %></li>
			
		<% end %>
	</ul> 
</div>





