body { 
	margin: 0;
	margin-left: 5%;
	width: 100%;
}
.article_wrapper {
	width: 40em;
	float: left;
}


.head_title a {
	color: #000000;
	text-decoration: none;
	font-size: 2.5em;
}

.head_title {
	margin: 0 ;
}

p img {
	size: 1em;
}

.tag {
	text-decoration: none;
	border: black 1px solid;
	border-radius: 3px;
	padding: 1px;
	font-size: .75em;
}

.comments_show {
	cursor: pointer;
}

.comments {
	display: none;
}

.comment {
	font-family: Arial;
	font-weight: normal;
	font-size: 1em;
}

.delete {
	font-size:.75em;
	list-style: none;
}

.sub_title {
	color: gray;
	font-weight: normal;
}

.article_control {
	font-size: .75em;
}

.article_body {
	margin-left: 1em;
}

.timestamp {
	font-size: .75em;
}

.flash {
	color: red;
}

h1, h2, h3, h4 {
	font-family: Helvetica;

}


p {
	font-family: Arial;
	margin-left: 5%;
}

ul {
	padding: 0;
	margin: 0;
	margin-bottom: 1em;
	list-style: none;
	font-family: Helvetica;
}
li {
	margin-top: 1em;
	list-style: none;
	margin-bottom: 1em;
}


.articles li a {
	text-decoration: none;
	color: #505050;
	margin-left: 1em;
}

.monthname {
	color: gray;
}


ul a:hover {
	color:black;
}

a {
	font-family: Helvetica;
	color: black;
	margin-right: 1em;
}

.new_article {
	padding: 2px;
}

.wrapper {
	min-width: 50em;
}

.side_nav_wrapper {
	color: gray;
	width: 10%;
	height: 20em;
	margin: 2em auto;
	float: left;
	border-right: .1em solid black;
	padding-right: .9em;
	padding-top: 6em;
}

.side_nav li a {
	color: gray;
	text-decoration: none;
	list-style: none;
}

.side_nav li a:hover {
	color: black;
}

.main_content {
	margin-top: 1em;
	display: inline-block;
	padding-left: 1em;
	padding-bottom: 1em;
	background-color: white;
}

