body { 
	margin: 0;
	margin-left: 5%;
}

.head_title a {
	text-decoration: none;
	font-size: 2.5em;
	text-decoration: underline;
}

p img {
	size: 1em;
}
.tag {
	text-decoration: none;
	border: black 1px solid;
	border-radius: 3px;
	padding: 1px;
	font-size: .75em;
}

.comment {
	font-family: Arial;
	font-weight: normal;
	font-size: 1em;
}

.delete {
	font-size:.75em;
	list-style: none;
}

.sub_title {
}

.article_control {
	font-size: .75em;
}

.timestamp {
	font-size: .75em;
}

.flash {
	color: red;
}

h1, h2, h3, h4 {
	font-family: Helvetica;
}


p {
	font-family: Arial;
	margin-left: 5%;
}

ul {
	padding: 0;
	margin: 0;
	margin-bottom: 1em;
	list-style: none;
	font-family: Helvetica;
}
li {
	margin-top: 1em;
	list-style: none;
	margin-bottom: 1em;
}


ul a {
	text-decoration: none;
	color: #505050;
	margin-left: 5%;
}

ul a:hover {
	color:black;
}

a {
	font-family: Helvetica;
	color: black;
	margin-right: 1em;
}

.new_article {
	padding: 2px;
}