<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% rand_num = rand(6) %>
	<% if rand_num > 3 %>
		<h1 class="head_title">Blogger</h1>
	<% else %>
		<h1 class="head_title">Bloggah</h1>
	<% end %>
	
<%= yield %>

</body>
</html>
